*{
    margin: 0px;
    margin-left: 100%;
}
.header{
    background-color: rgba(17, 230, 112, 0.733);
}
.name{
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding-top: 30px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
ul{
    margin-left: 75%;
    display: flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.intro{
    text-align: center;
}
    
.intro img{
    padding: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}
.intro p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
#edu{
    background-color: rgb(161, 167, 172);
    height: 720px;
    width: 100%;
    
    

}
#edu h2{
    padding: 30px;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.966);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#edu h3{
    padding-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: rgba(255, 255, 255, 0.966);
    font-size: 30px;

}

#edu p{
    color: rgb(255, 255, 255);
    padding-left: 5%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.section1 img{
    margin-left: 65%;
    margin-top: -300px;
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;

}


.section1{
    font-size: 40px;

}

.section2{
    margin-top: 50px;
    margin-left: 60%;
}

.section2 img{
    margin-left:-150%;
    margin-top: -200px;
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;

}


.section2 h3{
    margin-top: 70px;
    font-size: 60px;

}


.section1 h3{
    margin-top: 20px;

}

#skill{
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    height: 500px;
    width: 100%;


}
#skill h2{
    margin-left: 75%;
}
